/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* COMMON */

img{
    width: 100%;
}

.container{

    width: 80%;
    text-align: center;
    margin: auto;
    background-color:white;
}



.product{
    width: 25%;
    display: inline-block;
    
}

.row{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    
    
}

.product{
    position: relative;
    
}



.heart{
    display:inline-block;
    position: absolute;
    top: 30px;
    right:0px;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    background-color:white;
    border-left: 1px solid #eee;
    width: 40px;
    height: 40px;
}

.discount{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 0px;
    color: white;
    font-size: 12px;
    font-weight: 100;
    width: 40px;
    height: 24px;
    background-color: red;
    padding:5px 0;
}

.invisible{ 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* END COMMON */


.sustain{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: white;
    height: 24px;
    width: 80px;
    background-color: green;
    font-size: 12px;
    font-weight:200;
    padding: 5px 0;
    
}

#left {
    position: absolute;
    bottom:30px;
    left: 10px;
}

/* row */

.product:hover .invisible{
    display: inline-block;
}

.price{
    display: inline-block;
    background-color: rgb(197, 172, 221);
    width: 25%;
    height: 100px;

}




