/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{

    width: 70%;
    text-align: center;
    margin: auto;
    background-color: burlywood;
}



.product{
    width: 20%;
    display: inline-block;
    
}

.row{
    text-align: center;
    margin: 30px 0;
    display: inline-block;
}





