/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* COMMON */

img{
    width: 100%;
}

.container{

    width: 80%;
    text-align: center;
    margin: auto;
    background-color: burlywood;
}



.product{
    width: 25%;
    display: inline-block;
    
}

.row{
    text-align: center;
    margin: 30px 0;
    display: inline-block;
    
}

.product{
    position: relative;
    
}

/* END COMMON */

/* row */

.heart{
    display:inline-block;
    position: absolute;
    top: 0px;
    left:0px;
    color: black;
    background-color: white;
    width: 20px;
    height: 20px;
}

.discount{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: white;
    font-size: 12px;
    font-weight: 100;
    width: 40px;
    height: 24px;
    background-color: red;
    padding:5px 0;
}

.sustain{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 50px;
}





